.grid-container {
    width: 80%;
    /* max-width: 1320px; */
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: 1fr 0.5fr repeat(4, 1fr);
    gap: 10px;

}

.grid-item {
    background-color: brown;
    font-size: 45px;
    color: #fff;
}

.grid-item:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.grid-item:nth-child(3) {
    grid-column: 4 / span 2;
    grid-row: 1 / span 4;
    grid-area: 1 / 4 / span 4 / span 2;
}

.grid-item:nth-child(11) {
    grid-column: 1 / span 3;
}