@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.7;
    color: gray;
}


section {
    width: 70%;
    max-width: 1320px;
    margin-inline: auto;
}

header {
    text-align: center;
    margin-bottom: 8rem;
}

.section-title {
    color: #000;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1.8rem;
}

.section-title+p {
    max-width: 600px;
    margin-inline: auto;
}

main {
    display: flex;
    gap: 30px;
}

article {
    text-align: center;
    border: 1px solid #e9ecef;
    padding: 30px;
}

article img {
    width: 145px;
    border-radius: 50%;
    margin-top: -100px;
    margin-bottom: 24px;
}

article h4 {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 0.5rem;
}

.position {
    color: #adb5bd;
    margin-bottom: 1rem;
}