@media screen and (max-width: 990px) {
    main {
        article {
            width: 50%;
            .item{
                max-width: 263px;
               margin-inline: auto;
            }
        }
    }
}


@media screen and (max-width: 578px) {
    main {
        article {
            width: 100%;
        }
    }
}