@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Passions+Conflict&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.wrapper {
    max-width: 780px;
    width: 100%;
    margin-inline: auto;
    font-family: Roboto, monospace;
    header {
        display: flex;
        justify-content: space-between;

        .menu {
            display: flex;

            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    display: inline-block;
                    padding: 0px 25px 4px;
                    transition: all .3s;
                    cursor: pointer;
                    border-bottom: transparent 3px solid;

                    &:hover {
                        border-bottom-color: rgb(235, 235, 42);
                    }
                }
            }
        }



        .profile {
            background-color: blueviolet;
            color: #fff;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    main {
        display: flex;
        gap: 30px;

        section {
            width: 80%;

            .item {
                background-color: lavender;
                font-size: 12px;
                padding: 5px;
                width: 200px;
            }
        }

        aside {
            width: 20%;
            background-color: lavender;
            padding: 20px;

            ul {
                list-style: none;
                padding: 0;
            }
        }



    }
}